main {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100vw;
}

section {
  scroll-snap-align: center;
  min-height: 100vh;
  padding: var(--space-l) var(--space-xl);
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: var(--space-base);
  }

  &:not(.is--index) h2 {
    margin-bottom: var(--space-m);
  }

  &:where(.is--home, .is--last) h1 {
    font-size: var(--font-size-xxxl);
  }

  &.is--home h2 {
    font-size: var(--font-size-xl);
  }

  &.is--index {
    li {
      margin-bottom: 12px;
    }
  }

  &.is--chapter h1 {
    font-size: var(--font-size-xxl);
  }

  &.is--last p {
    font-size: var(--font-size-md);
  }

  &:where(.is--home, .is--chapter, .is--last) {
    text-align: center;
    display: grid;
    place-content: center;
  }

  &:not(:where(.is--home, .is--last)).is--chapter {
    background-color: var(--context-color);
    color: var(--pure-white);
  }

  &:not(:where(.is--home, .is--last, .is--chapter)) {
    border-top: 16px solid var(--context-color);

    h1 {
      color: var(--context-color);
    }
  }

  &[data-chapter="1"] {
    --context-color: var(--blue-dark);
  }

  &[data-chapter="2"] {
    --context-color: var(--green-light);
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-images {
  display: flex;
  gap: var(--space-base);
  flex-wrap: wrap;

  & > img {
    height: 30vh;
    width: auto;
  }
}

.section-chart {
  text-align: center;
  img {
    height: 75vh;
    width: auto;
  }
}

.section-stacks {
  display: flex;
  gap: var(--space-xl);
}

.read-more {
  margin-top: auto;

  h4 {
    margin-bottom: var(--space-s);
  }
}
