.margin-bottom-s {
  margin-bottom: var(--space-s);
}

.margin-bottom-base {
  margin-bottom: var(--space-base);
}

.margin-bottom-m {
  margin-bottom: var(--space-m);
}

.margin-bottom-l {
  margin-bottom: var(--space-l);
}

.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}
